.m-board{
    width:100%;
    height:auto;
    .banner{
        height:156px;
        width:100%;
        .yo-carousel{
            >.cont{
                width:100%;
                height:156px;
              
                >li{
                    width:100%;
                    height:156px;
                    >img{
                       width:100%;
                        height:156px; 
                    }
                }
            }
            
        }
       
    }
    .list{
        height:158px;
        width:100%;
    }
    .today{
        height:43px;
        width:100%;
    }
    .ad{
        height:85px;
        width:100%;
    }
    .price{
        height:30px;
        width:100%;
    }
    .price-list{
       height:368px;
       width:100%; 
    }
    .recommend{
        height:30px;
        width:100%;
    }
    .recommend-list{
        height:167px;
        width:100%;
    }
    .life{
        height:30px;
        width:100%;
    }
    .life-list{
        height:450px;
        width:100%;
    }
    .hothove{
        height:30px;
        width:100%;
    }
    .hothove-list{
        height:210px;
        width:100%;
    }
    .ad2{
        height:132px;
        width:100%;
    }
    .like{
        height:30px;
        width:100%;
    }
    .like-list{
        height:1836px;
        width:100%;
    }
}
