.m-login{
    height:100%;
    width:100%;
    header{
        height:.44rem;
        width:100%;
        background: #fabc09;
    }
    .select{
        height:.39rem;
        width:100%;
        background:#fff;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        li{
            height:100%;
            @include flex();
            a{
                display:block;
                height:100%;
                width:100%;
                color:#333;
                text-align: center;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                img{
                    height:.20rem;
                    width:.20rem;
                    margin:0px 0.05rem;
                    vertical-align: middle;
                }
                span{
                    font-size:.13rem;
                }
            }
            &.active{
                border-bottom:2px solid #ffcc00;
            }
        }
    }
    
}
