.m-productDetail{
    .yo-scroller{
        height:100%;
    }
    height:100%;
    width:100%;
    position:relative;
    .bodymo{
        width:100%;
        height:3.24rem;
        position:absolute;
        top:0px;
        left:0px;
        img{
            width:100%;
            height:100%;
        }
        .goodsName{
            height:.6rem;
            width:100%;
            background:rgba(0,0,0,.5);
            color:#fff;
            position: absolute;
            bottom:0px;
            left:0px;
            @include flexbox();
            @include justify-content(space-between);
            span{
                display: inline-block;
                margin:.1rem;
            }
            span:first-child{
                font-size:.16rem;
                font-family: "微软雅黑";
            }
            span:last-child{
                height:.28rem;
                width:.28rem;
                background: #fff;
                border-radius: 50%;
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                img{
                    height:60%;
                    width:60%;
                }
            }
        }
    }
    .content{
        position:absolute;
        top:0px;
        left:0px;
        height:100%;
        width:100%;
        overflow-y: auto;
        header{
            height:.4rem;
            width:100%;
            @include flexbox();
            @include justify-content(space-between);
            @include align-items(center);
            span{
                display: inline-block;
                height:.27rem;
                width:.27rem;
                border:1px solid #eee;
                background: #fff;
                border-radius: 50%;
                margin:0px .1rem;
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                img{
                    height:60%;
                    width:60%
                }
            }
        }
        .contener{
            width:100%;
            height:auto;
            margin-top:2.84rem;
            background: #f0f0f0;
            .price{
                height:.6rem;
                width:100%;
                background:#fff;
                @include flexbox();
                @include justify-content(space-between);
                @include align-items(center);
                border-bottom:1px solid #eee;
                .price_s{
                    height:.33rem;
                    line-height:.33rem;
                    margin-left:.1rem;
                    span{
                        display: inline-block;
                    }
                    span:first-child{
                        font-size:.12rem;
                        color:#ff9900;
                        font-family: "微软雅黑";
                    }
                    span.pri{
                        font-size:.24rem;
                        font-weight: bold;
                        color:#ff9900;
                        font-family: "微软雅黑";
                    }
                    span:last-child{
                        font-size:.12rem;
                        text-decoration: line-through;
                        color:#c5c5c5;
                        margin-left:.05rem;
                    }
                }
                .price_l{
                    height:.34rem;
                    width:1rem;
                    background:#f90;
                    text-align: center;
                    line-height:.34rem;
                    color:#fff;
                    font-size: .16rem;
                    font-family: "微软雅黑";
                    margin-right:.1rem;
                    border-radius: 5px;
                }
            }
            .check{
                height:.38rem;
                width:100%;
                background:#fff;
                border-bottom: 1px #d1d1d1 solid;
                a{
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(space-between);
                    padding:0px .1rem;
                    height:.38rem;
                    span{
                        font-size: .12rem;
                        color:#f90;
                        font-family: "微软雅黑";
                    }
                    img{
                        height:.14rem;
                        width:.14rem;
                    }
                }
            }
            .distri{
                height:.8rem;
                width:100%;
                background:#fff;
                margin-top:.15rem;
                border-top: 1px #d1d1d1 solid;
                border-bottom: 1px #d1d1d1 solid;
                p{
                    height:.4rem;
                    line-height:.4rem;
                    font-size:.12rem;
                    font-family: "微软雅黑";
                }
                p:first-child{
                    border-bottom:1px solid #eee;
                    span{
                        color:#888;
                        display: inline-block;
                        margin:0px .1rem;
                    }
                    
                }
                p:last-child{
                    span{
                        color:#888;
                        display: inline-block;
                        margin:0px .1rem;
                    }
                }
            }
            .sustain{
                height:.68rem;
                padding-left:4%;
                margin-top:.15rem;
                background:#fff;
                border-top: 1px #d1d1d1 solid;
                border-bottom: 1px #d1d1d1 solid;
                p{
                    height:.34rem;
                    display: inline-block;
                    width:50%;
                    line-height:.34rem;
                    font-size:.12rem;
                    img{
                        margin-right:.1rem;
                        vertical-align: middle;
                    }
                }
                p:nth-child(1),p:nth-child(2){
                    color:#6bbd00;
                }
            }
            .evaluate_pricent{
                height:.38rem;
                width:100%;
                background:#fff;
                margin-top:.15rem;
                border-top: 1px #d1d1d1 solid;
                border-bottom: 1px #d1d1d1 solid;
                a{
                    @include flexbox();
                    @include justify-content(space-between);
                    @include align-items(center);
                    height:100%;
                    padding:0px .1rem;
                    p:first-child{
                        height:.28rem;
                        width:50%;
                        line-height:.28rem;
                        span:first-child{
                            display:inline-block;
                            color:#888;
                            font-size:.12rem;
                            font-family: "微软雅黑";
                        }
                        span:last-child{
                            display:inline-block;
                            font-size:.12rem;
                            font-family: "微软雅黑";
                            color:#f90;
                            margin-left:.15rem;
                        }
                    }
                    p:last-child{
                        height:.28rem;
                        width:50%;
                        line-height:.28rem;
                        @include flexbox();
                        @include justify-content(space-between);
                        @include align-items(center);
                        span{
                            display:inline-block;
                            color:#888;
                            font-size:.12rem;
                            font-family: "微软雅黑";
                            margin-left:.25rem;
                        }
                        img{
                            height:.14rem;
                            width:.14rem;
                        }
                    }
                }
            }
            .goods_store{
                height:1.6rem;
                background:#fff;
                margin-top:.15rem;
                border-top: 1px #d1d1d1 solid;
                border-bottom: 1px #d1d1d1 solid;
                padding:0px .1rem;
                p{
                    height:.39rem;
                    border-bottom:1px solid #eee;
                    
                }
                p:last-child{
                    border-bottom:none;
                }
                p:nth-child(1){
                    a{
                        height:100%;
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(space-between);
                        p{
                            height:100%;
                            line-height:.39rem;
                            img{
                                height:.14rem;
                                width:.14rem;
                                margin:0px .05rem;
                            }
                            span{
                                font-size:.13rem;
                                color:#333;
                            }
                        }
                        .right{
                            height:.14rem;
                            width:.14rem;
                            img{
                                height:100%;
                                width:100%;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
